
@mixin flexible () {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin components () {
  border: 5px solid #ADEFD1FF;
  justify-content: center;
  margin: 5px;
  width: 70%;
  max-width: 90%;
       * {margin: 1%}
  @include flexible();
}

button {
  background-color:#ADEFD1FF;
  border-radius: 10%;
  padding: 8px;
  cursor: pointer;
}
button:hover{
  background-color: aqua;
}

.buttonContainer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.App {
  background-color: #00203FFF;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: rgb(220, 220, 220);
  text-align: center;
  @include flexible();
}

.header, .container{
  @include components();
}
.todo{
  @include components();
  border-radius: 5px;
}

form{
width: 100%;

}
.input{
  display: block;
  margin:auto;
  width: 70%;
  background-color: rgb(20, 20, 20);
  line-height: 2rem;
  border-radius: 5px;
  color:rgb(220, 220, 220);
  font-size: 1.2rem;

}
.input[placeholder]{
  padding: 0% 2%;
}

.Done{
  background-color: #2BAE66FF;
}
.pending{
  background-color:#76528BFF;
}
.hidden{
  visibility:hidden;
  font-size: 0rem;
}
.unhidden{
  visibility: visible;
  font-size: 1rem;
}
@media screen and (max-width: 950px){
  .header, .container{
    width: 100%;
  }
}
